<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mc_logo_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,136}</string>
                <key>spriteSourceSize</key>
                <string>{228,136}</string>
                <key>textureRect</key>
                <string>{{0,0},{228,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mc_logo_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,136}</string>
                <key>spriteSourceSize</key>
                <string>{228,136}</string>
                <key>textureRect</key>
                <string>{{228,0},{228,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mc_logo_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,136}</string>
                <key>spriteSourceSize</key>
                <string>{228,136}</string>
                <key>textureRect</key>
                <string>{{0,136},{228,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mc_logo_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,136}</string>
                <key>spriteSourceSize</key>
                <string>{228,136}</string>
                <key>textureRect</key>
                <string>{{228,136},{228,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mc_logo_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,136}</string>
                <key>spriteSourceSize</key>
                <string>{228,136}</string>
                <key>textureRect</key>
                <string>{{0,272},{228,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mc_logo_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,136}</string>
                <key>spriteSourceSize</key>
                <string>{228,136}</string>
                <key>textureRect</key>
                <string>{{228,272},{228,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mc_logo_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,136}</string>
                <key>spriteSourceSize</key>
                <string>{228,136}</string>
                <key>textureRect</key>
                <string>{{0,408},{228,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mc_logo_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,136}</string>
                <key>spriteSourceSize</key>
                <string>{228,136}</string>
                <key>textureRect</key>
                <string>{{228,408},{228,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mc_logo_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,136}</string>
                <key>spriteSourceSize</key>
                <string>{228,136}</string>
                <key>textureRect</key>
                <string>{{0,544},{228,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mc_logo_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,136}</string>
                <key>spriteSourceSize</key>
                <string>{228,136}</string>
                <key>textureRect</key>
                <string>{{228,544},{228,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mc_logo_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,136}</string>
                <key>spriteSourceSize</key>
                <string>{228,136}</string>
                <key>textureRect</key>
                <string>{{0,680},{228,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mc_logo_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,136}</string>
                <key>spriteSourceSize</key>
                <string>{228,136}</string>
                <key>textureRect</key>
                <string>{{228,680},{228,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mc_logo_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,136}</string>
                <key>spriteSourceSize</key>
                <string>{228,136}</string>
                <key>textureRect</key>
                <string>{{0,816},{228,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mc_logo_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,136}</string>
                <key>spriteSourceSize</key>
                <string>{228,136}</string>
                <key>textureRect</key>
                <string>{{228,816},{228,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mc_logo_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,136}</string>
                <key>spriteSourceSize</key>
                <string>{228,136}</string>
                <key>textureRect</key>
                <string>{{0,952},{228,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mc_logo_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,136}</string>
                <key>spriteSourceSize</key>
                <string>{228,136}</string>
                <key>textureRect</key>
                <string>{{228,952},{228,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mc_logo_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,136}</string>
                <key>spriteSourceSize</key>
                <string>{228,136}</string>
                <key>textureRect</key>
                <string>{{0,1088},{228,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mc_logo_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,136}</string>
                <key>spriteSourceSize</key>
                <string>{228,136}</string>
                <key>textureRect</key>
                <string>{{228,1088},{228,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mc_logo_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,136}</string>
                <key>spriteSourceSize</key>
                <string>{228,136}</string>
                <key>textureRect</key>
                <string>{{0,1224},{228,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mc_logo_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,136}</string>
                <key>spriteSourceSize</key>
                <string>{228,136}</string>
                <key>textureRect</key>
                <string>{{228,1224},{228,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mc_logo_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,136}</string>
                <key>spriteSourceSize</key>
                <string>{228,136}</string>
                <key>textureRect</key>
                <string>{{0,1360},{228,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mc_logo.png</string>
            <key>size</key>
            <string>{456,1496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c62a14940446f04e9507454391427aa9:b9b0308bc807302a8f33f0dc4b32c5a2:8d5c34adb8fbb89af2d53dd6692ecd5a$</string>
            <key>textureFileName</key>
            <string>mc_logo.png</string>
        </dict>
    </dict>
</plist>
