<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fs_shine_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,315}</string>
                <key>spriteSourceSize</key>
                <string>{186,315}</string>
                <key>textureRect</key>
                <string>{{0,0},{186,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fs_shine_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,315}</string>
                <key>spriteSourceSize</key>
                <string>{186,315}</string>
                <key>textureRect</key>
                <string>{{186,0},{186,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fs_shine_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,315}</string>
                <key>spriteSourceSize</key>
                <string>{186,315}</string>
                <key>textureRect</key>
                <string>{{372,0},{186,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fs_shine_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,315}</string>
                <key>spriteSourceSize</key>
                <string>{186,315}</string>
                <key>textureRect</key>
                <string>{{558,0},{186,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fs_shine_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,315}</string>
                <key>spriteSourceSize</key>
                <string>{186,315}</string>
                <key>textureRect</key>
                <string>{{744,0},{186,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fs_shine_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,315}</string>
                <key>spriteSourceSize</key>
                <string>{186,315}</string>
                <key>textureRect</key>
                <string>{{930,0},{186,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fs_shine_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,315}</string>
                <key>spriteSourceSize</key>
                <string>{186,315}</string>
                <key>textureRect</key>
                <string>{{1116,0},{186,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fs_shine_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,315}</string>
                <key>spriteSourceSize</key>
                <string>{186,315}</string>
                <key>textureRect</key>
                <string>{{1302,0},{186,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fs_shine_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,315}</string>
                <key>spriteSourceSize</key>
                <string>{186,315}</string>
                <key>textureRect</key>
                <string>{{1488,0},{186,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fs_shine_a1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,315}</string>
                <key>spriteSourceSize</key>
                <string>{186,315}</string>
                <key>textureRect</key>
                <string>{{1674,0},{186,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hotwinlight.png</string>
            <key>size</key>
            <string>{1860,315}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d283c0eb7802f3f86c22e99a139478b4:69e9873078bcc47bd7d4a196cdb7f376:4f1a3d646af202436ef99178cba24700$</string>
            <key>textureFileName</key>
            <string>hotwinlight.png</string>
        </dict>
    </dict>
</plist>
