<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fs_particle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,304}</string>
                <key>spriteSourceSize</key>
                <string>{110,304}</string>
                <key>textureRect</key>
                <string>{{0,0},{110,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fs_particle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,316}</string>
                <key>spriteSourceSize</key>
                <string>{110,316}</string>
                <key>textureRect</key>
                <string>{{110,628},{110,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fs_particle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,316}</string>
                <key>spriteSourceSize</key>
                <string>{110,316}</string>
                <key>textureRect</key>
                <string>{{220,628},{110,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fs_particle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,316}</string>
                <key>spriteSourceSize</key>
                <string>{110,316}</string>
                <key>textureRect</key>
                <string>{{330,628},{110,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fs_particle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,310}</string>
                <key>spriteSourceSize</key>
                <string>{110,310}</string>
                <key>textureRect</key>
                <string>{{110,0},{110,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fs_particle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,316}</string>
                <key>spriteSourceSize</key>
                <string>{110,316}</string>
                <key>textureRect</key>
                <string>{{0,944},{110,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fs_particle_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,316}</string>
                <key>spriteSourceSize</key>
                <string>{110,316}</string>
                <key>textureRect</key>
                <string>{{110,944},{110,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fs_particle_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,316}</string>
                <key>spriteSourceSize</key>
                <string>{110,316}</string>
                <key>textureRect</key>
                <string>{{220,944},{110,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fs_particle_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,314}</string>
                <key>spriteSourceSize</key>
                <string>{110,314}</string>
                <key>textureRect</key>
                <string>{{330,0},{110,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fs_particle_a1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,314}</string>
                <key>spriteSourceSize</key>
                <string>{110,314}</string>
                <key>textureRect</key>
                <string>{{0,314},{110,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fs_particle_a2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,316}</string>
                <key>spriteSourceSize</key>
                <string>{110,316}</string>
                <key>textureRect</key>
                <string>{{330,944},{110,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fs_particle_a3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,312}</string>
                <key>spriteSourceSize</key>
                <string>{110,312}</string>
                <key>textureRect</key>
                <string>{{220,0},{110,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fs_particle_a4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,314}</string>
                <key>spriteSourceSize</key>
                <string>{110,314}</string>
                <key>textureRect</key>
                <string>{{110,314},{110,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fs_particle_a5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,314}</string>
                <key>spriteSourceSize</key>
                <string>{110,314}</string>
                <key>textureRect</key>
                <string>{{220,314},{110,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fs_particle_a6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,314}</string>
                <key>spriteSourceSize</key>
                <string>{110,314}</string>
                <key>textureRect</key>
                <string>{{330,314},{110,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fs_particle_a7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,314}</string>
                <key>spriteSourceSize</key>
                <string>{110,314}</string>
                <key>textureRect</key>
                <string>{{0,628},{110,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hotwin_particle.png</string>
            <key>size</key>
            <string>{440,1260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:163a0c16a68bdb846792878eb17161e6:a99eeb4c2cd81cd118a6184178284205:c3ca4eded64e9bf541ed08779b18496e$</string>
            <key>textureFileName</key>
            <string>hotwin_particle.png</string>
        </dict>
    </dict>
</plist>
